<header>
  <h1><a href="">Saboray</a></h1>
  <div id="navbar">
    <div class="navbar-item"><a href="/authors">Authors</a></div>
    <div class="navbar-item"><a href="/authors/new">Add Author</a></div>
  </div>
</header>
