<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Library App</title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <h1>Saboray - Library Database of Various Books</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, tempora.
    </p>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
