<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library App</title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs"); %>

    <h1>New Author</h1>
    <form action="/authors" method="POST">
      <a href="/authors">Cancel</a>
      <button type="submit">Create</button>
    </form>

    <%- include("../partials/footer.ejs"); %>
  </body>
</html>
